dist: trusty
sudo: required

language: node_js

node_js:
  - 6

services:
  - docker

before_install:
  - docker-compose up -d

env:
  - CXX=g++-4.8

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - trusty-media
    packages:
      - g++-4.8
      - ffmpeg
      - docker-ce

after_success:
  - bash <(curl -s https://codecov.io/bash)
